h2{
    padding-top: 20px;
}
.names-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .names-table th, .names-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .names-table th {
    background-color: #f2f2f2;
  }
  
  .ad-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .ad-btn:hover {
    background-color: #45a049;
  }
  .month {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
  }

  .se-all{
    padding-top: 10px;
  }
  
  .sho-btn {
        margin-top: 20px;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer; 
  }
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #f76fea;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }